*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   

    

}
.container{ 
    height: 100%;
   
    width: 100%; 
    overflow-x: none;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}
.navbar{
    width: 100%;;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    min-height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;


}
#navlist{
    width: 100%;
    list-style: none;
    font: 1em sans-serif;
    font-size: 2.5rem;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
nav{
    width: 100%;
}
#text1{
font-size: 2.8rem;
color: azure;
}
a{
    text-decoration: none;
}
#text2{
    display: flex;
    gap: 40px;
}
footer{
    width: 100%;
}
.footerbox{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 100%;
    text-align:center ;
    min-height: 40px;
    
   
}
.contentbox{
    
    width: 65vw;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content:space-around ;
    border: solid 1.5px black;
    gap: 100px;
    flex-direction: column;
    box-shadow: 0px 0px 30px black ;
}

.upper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.rightbox img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: all 0.6s linear 0s;
}
.rightbox img:hover{
    transform: scale(1.1);
}

.lower{
    display:flex;
    flex-direction: row;
}
.rightbox1 img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: all 0.6s linear 0s;
}
.rightbox1 img:hover{
    transform: scale(1.1);
}

